sec {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $bgcolor1;
    margin: 10px 20px;
    border: 3px outset #252525;
    height: auto;

    p {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        color: whitesmoke;
    }
}

h3 {
    padding: 10px;
    text-align: center;
    font-family: $mainfont;
    color: $color1;
    text-shadow: 2px 2px 5px black;
}

.contRow {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;

    li {
        font-size: 12px;
        color: whitesmoke;
    }

    strong {
        color: $color1;
        display: flex;
        align-items: center;
        font-size: 15px;
        padding: 20px;
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {

    sec p {
        font-size: 15px;
    }


    .contRow {
        flex-direction: column;
        padding-left: 20px;

        li {
            font-size: 14px;
        }

        strong {
            font-size: 17px;
        }
    }
}