h1 {
    text-shadow: 2px 2px 5px black;
    font-size: 25px;
    margin-bottom: 0;
    padding: 10px;
    font-family: $mainfont;
    color: $color1;
    text-align: center;
}

.contMapas {
    padding: 0 10px 10px 10px;
    height: fit-content;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "mapa1 mapa1 mapa2 mapa2 mapa3 mapa3"
        "..... mapa4 mapa4 mapa5 mapa5 .....";
}

.mapas {
    border-radius: 10px;
    background-color: wheat;
    transition: 0.5s;
    box-shadow: 2px 2px 6px black;

    img {
        box-sizing: border-box;
        width: 100%;
    }

    a {
        text-decoration: none;
    }
}

.mapas:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.mapa1 {
    grid-area: mapa1;
}

.mapa2 {
    grid-area: mapa2;
}

.mapa3 {
    grid-area: mapa3;
}

.mapa4 {
    grid-area: mapa4;
}

.mapa5 {
    grid-area: mapa5;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h4 {
        font-size: 22px;
    }

    .contMapas {
        padding: 0 10px 10px 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "mapa1"
            "mapa2"
            "mapa3"
            "mapa4"
            "mapa5";
    }
}

    .fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}

    @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}