h4 {
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding-top: 30px;
    font-family: $mainfont;
    color: $color1;
    font-size: 25px;
}

.contenedor {
    padding: 20px;
    justify-self: center;
    gap: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        ".......... personaje1 personaje1 personaje2 personaje2 personaje3 personaje3 ........."
        ".......... .......... personaje4 personaje4 personaje5 personaje5 .......... ..........";
}

.personaje{
    border: 4px solid $color1;
    box-shadow: 2px 2px 6px black;
    border-radius: 50%;
    background-color: wheat;
    height: auto;
    width: auto;
    transition: 0.2s;

    img{
        width: 100%;
        height: 100%;
    }
}

.personaje:hover{
    box-shadow: 5px 2px 12px black;
    transform: scale(1.05);
    transition: 0.2s;
}

.personaje1{
    grid-area: personaje1;
}
.personaje2{
    grid-area: personaje2;
}
.personaje3{
    grid-area: personaje3;
}
.personaje4{
    grid-area: personaje4;
}
.personaje5{
    grid-area: personaje5;
}

@media only screen and (max-width: 768px) {
    h4{
        font-size: 30px;
    }

    .contenedor{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .personaje{
        width: 300px;
    }
}