* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: thewitcher;
    src: url(Multimedia/Thewitcher-jnOj.ttf);
}



.navbar {
    /* height: 60px !important; */
    background-color: rgb(20, 20, 20);
    border-bottom: 3px outset #2e2e2e;
}

.nav-item {
    font-family: thewitcher, 'Times New Roman', Times, serif;
}

.nav-link {
    background-color: rgb(20, 20, 20);
    border: 3px outset rgb(66, 32, 0);
    padding-left: 10px !important;
    background-color: rgb(66, 32, 0);
    margin: 2px 10px 2px 10px;
    color: rgb(230, 173, 100) !important;
    transition: 0.5s;
}

.nav-link:hover {
    border-color: rgb(83, 41, 1);
    background-color: rgb(83, 41, 1);
    color: rgb(224, 184, 131);
    text-shadow: 0px 0px 5px rgb(219, 219, 219);
    transition: 0.3s;
    transform: scale(0.9);
}

.navbar-toggler {
    border: 3px outset rgb(66, 32, 0);
    padding: 5px;
    background-color: rgb(66, 32, 0);
    margin: 10px;
    transition: 0.2s;
}

.navbar-toggler:hover {
    border-color: rgb(83, 41, 1);
    background-color: rgb(83, 41, 1);
    color: rgb(224, 184, 131);
    text-shadow: 0px 0px 5px rgb(219, 219, 219);
    transition: 0.2s;
    transform: scale(0.9);
}

.fa-bars {
    color: rgb(230, 173, 100);
}

main {
    background-image: url(./Multimedia/zZLPZaO.jpg);
    height: auto;
    width: auto;
    background-color: #333;
    background-size: cover;
    background-position: center;
}

.trailers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

// .tituloTrailer {
//     font-size: 20px;
//     text-align: center;
//     color: rgb(230, 173, 100);
//     font-family: thewitcher;
// }

.trailer1 {
    width: auto;
    height: 250px;
    margin-top: 20px;

    h3{
        font-size: 20px;
        text-align: center;
        color: rgb(230, 173, 100);
        font-family: thewitcher;
    }
}

.trailer2 {
    width: auto;
    height: 250px;
    margin-top: 20px;

    h3{
        font-size: 20px;
        text-align: center;
        color: rgb(230, 173, 100);
        font-family: thewitcher;
    }
}

.imagenes {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}

.principal {
    border-radius: 5px;
    display: flex;
    height: 110px;
    width: 200px;
    background-image: url(./Multimedia/The-Witcher-3.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    filter: grayscale(100%);
}

.principal:hover {
    transform: scale(1.1);
    transition: 0.3s;
    filter: none;
}

.primerdlc {
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    height: 110px;
    width: 200px;
    background-image: url(./Multimedia/Tw3_expansion_pack_hos.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    filter: grayscale(100%);
}

.primerdlc:hover {
    transform: scale(1.1);
    transition: 0.3s;
    filter: none;
}

.segundodlc {
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    height: 110px;
    width: 200px;
    background-image: url(./Multimedia/the_witcher_3_blood_and_wine_expansion_art_1.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    filter: grayscale(100%);
}

.segundodlc:hover {
    transform: scale(1.1);
    transition: 0.3s;
    filter: none;
}

.nombres {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;

    a{
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        color: rgb(230, 173, 100);
        font-family: thewitcher;
    }

    a:hover{
        text-shadow: 0px 0px 5px darkred;
        color: rgb(224, 184, 131)
    }
}


.container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

.imgCarousel {
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    color: rgb(230, 173, 100);
    font-family: thewitcher;
    text-align: center;
    background-color: rgb(20, 20, 20);
    border-top: 3px intset #2e2e2e;
    height: auto;
    width: 100%;
}

.redes {
    font-size: 20px;

}

.redes li {
    list-style: none;
    display: inline-block;

    a{
        border: 3px outset rgb(66, 32, 0);
        padding: 5px;
        background-color: rgb(66, 32, 0);
        margin: 10px;
        color: rgb(230, 173, 100);
        text-decoration: none;
        transition: 0.3s;
    }

    a:hover{
        border-color: rgb(83, 41, 1);
        background-color: rgb(83, 41, 1);
        color: rgb(224, 184, 131);
        text-shadow: 0px 0px 5px rgb(219, 219, 219);
        transition: 0.3s;
    }
}

@import "_historia";
@import "_personajes";
@import "_informacion";



/* Media Query para Index */

@media only screen and (min-width:0px) {
    .container {
        width: 75%;
    }

    .imagenes {
        display: none;
    }

    .nombres {
        display: none;
    }
}

@media only screen and (min-width: 468px) {
    .container {
        width: 60%;
    }

    .imagenes {
        display: none;
    }

    .nombres {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        width: 50%;
    }

    .imagenes {
        display: none;
    }

    .nombres {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        display: none;
    }

    .imagenes {
        display: flex;
    }

    .nombres {
        display: flex;
    }

    .redes {
        font-size: 30px;
    }
}

@media only screen and (min-width:1024px) {
    .principal {
        height: 160px;
        width: 280px;
    }

    .primerdlc {
        height: 160px;
        width: 280px;
    }

    .segundodlc {
        height: 160px;
        width: 280px;
    }

    .nombres a {
        font-size: 14px;
    }
}