* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: thewitcher;
  src: url(Multimedia/Thewitcher-jnOj.ttf);
}
.cont1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img1 {
  margin: 10px;
  height: auto;
  width: 380px;
  background-color: #333;
  background-image: url(./Multimedia/The-Witcher-3.jpg);
  background-size: cover;
  background-position: center;
}

.lista1 {
  margin: 50px 10px;
}

.trailerP {
  margin: 15px;
  margin-top: 65px;
}

.cont2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img2 {
  margin: 10px;
  height: auto;
  width: 380px;
  background-color: #333;
  background-image: url(./Multimedia/Tw3_expansion_pack_hos.jpg);
  background-size: cover;
  background-position: center;
}

.lista2 {
  margin: 50px 10px;
}

.trailerHos {
  margin: 15px;
  margin-top: 65px;
}

.cont3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img3 {
  margin: 10px;
  height: auto;
  width: 380px;
  background-color: #333;
  background-image: url(./Multimedia/the_witcher_3_blood_and_wine_expansion_art_1.jpg);
  background-size: cover;
  background-position: center;
}

.lista3 {
  margin: 50px 10px;
}

.trailerBaw {
  margin: 15px;
  margin-top: 65px;
}

h2 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid rgb(65, 38, 5);
  text-shadow: 0 0 5px #333;
  color: rgb(230, 173, 100);
  background-color: rgb(49, 29, 4);
  font-family: TheWitcher, "Times New Roman", Times, serif;
  text-shadow: 4px 2px 2px black;
}

.subtitulo {
  font-size: 13px;
  color: rgb(230, 173, 100);
  list-style: upper-roman;
}
.subtitulo a {
  color: rgb(230, 173, 100);
  text-decoration: none;
}
.subtitulo a:hover {
  text-shadow: 0px 0px 5px darkred;
}

@media only screen and (min-width: 0px) {
  .cont1 {
    display: flex;
    flex-direction: column;
  }
  .img1 {
    width: auto;
    height: 200px;
  }
  .lista1 {
    display: flex;
    justify-content: center;
  }
  .trailerP {
    display: none;
  }
  .cont2 {
    display: flex;
    flex-direction: column;
  }
  .img2 {
    width: auto;
    height: 200px;
  }
  .lista2 {
    display: flex;
    justify-content: center;
  }
  .trailerHos {
    display: none;
  }
  .cont3 {
    display: flex;
    flex-direction: column;
  }
  .img3 {
    width: auto;
    height: 200px;
  }
  .lista3 {
    display: flex;
    justify-content: center;
  }
  .trailerBaw {
    display: none;
  }
}
@media only screen and (min-width: 468px) {
  .trailerP {
    display: none;
  }
  .trailerHos {
    display: none;
  }
  .trailerBaw {
    display: none;
  }
  .subtitulo {
    font-size: 16px;
  }
  h2 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 520px) {
  .img1 {
    height: 250px;
  }
  .img2 {
    height: 250px;
  }
  .img3 {
    height: 250px;
  }
}
@media only screen and (min-width: 680px) {
  .img1 {
    height: 300px;
  }
  .img2 {
    height: 300px;
  }
  .img3 {
    height: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .cont1 {
    display: flex;
    flex-direction: column;
  }
  .trailerP {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .trailerHos {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .trailerBaw {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .cont1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cont3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .img1 {
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: auto;
    width: 300px;
  }
  .img2 {
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: auto;
    width: 300px;
  }
  .img3 {
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: auto;
    width: 300px;
  }
  .subtitulo {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .img1 {
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: auto;
    width: 380px;
  }
  .img2 {
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: auto;
    width: 380px;
  }
  .img3 {
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: auto;
    width: 380px;
  }
  .subtitulo {
    font-size: 16px;
  }
}
.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
h4 {
  text-shadow: 2px 2px 5px black;
  text-align: center;
  padding-top: 30px;
  font-family: TheWitcher, "Times New Roman", Times, serif;
  color: rgb(230, 173, 100);
}

.contenedor {
  padding: 10px 30px;
  width: 60%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "caja1 caja1 caja1 caja2 caja2" "caja1 caja1 caja1 caja3 caja3" "caja4 caja4 caja5 caja3 caja3";
}

.secP {
  display: flex;
  justify-content: center;
}

.caja {
  box-shadow: 1px 1px 5px black;
  margin: 3px;
  background-position: center;
  background-size: cover;
  background-image: url(Multimedia/Nithral.jpg);
  border: 1px solid rgb(65, 38, 5);
  transition: 0.2s;
}
.caja a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(230, 173, 100);
  background-color: wheat;
  font-size: 18px;
}

.caja:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.caja1 {
  grid-area: caja1;
}

.caja2 {
  grid-area: caja2;
}

.caja3 {
  grid-area: caja3;
}

.caja4 {
  grid-area: caja4;
}

.caja5 {
  grid-area: caja5;
}

.contenedor2 {
  padding: 10px 30px;
  width: 60%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "caja6 caja6 caja6 caja7 caja7" "caja6 caja6 caja6 caja7 caja7" "caja8 caja8 caja9 caja9 caja10";
}

.caja6 {
  grid-area: caja6;
}

.caja7 {
  grid-area: caja7;
}

.caja8 {
  grid-area: caja8;
}

.caja9 {
  grid-area: caja9;
}

.caja10 {
  grid-area: caja10;
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 30px;
  }
  .contenedor {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "..... caja1 caja1 ....." "..... caja2 caja2 ....." "..... caja3 caja3 ....." "..... caja4 caja4 ....." "..... caja5 caja5 .....";
  }
  .caja {
    margin-top: 20px;
    height: 180px;
  }
  .contenedor2 {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "..... caja6 caja6 ....." "..... caja7 caja7 ....." "..... caja8 caja8 ....." "..... caja9 caja9 ....." "..... caja10 caja10 .....";
  }
}
sec {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  margin: 10px 20px;
  border: 3px outset #252525;
  height: auto;
}
sec p {
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
}

h3 {
  padding: 10px;
  text-align: center;
  font-family: TheWitcher, "Times New Roman", Times, serif;
  color: rgb(230, 173, 100);
  text-shadow: 2px 2px 5px black;
}

.contRow {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}
.contRow li {
  font-size: 12px;
  color: whitesmoke;
}
.contRow strong {
  color: rgb(230, 173, 100);
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 20px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  sec p {
    font-size: 15px;
  }
  .contRow {
    flex-direction: column;
    padding-left: 20px;
  }
  .contRow li {
    font-size: 14px;
  }
  .contRow strong {
    font-size: 17px;
  }
}
h1 {
  text-shadow: 2px 2px 5px black;
  font-size: 25px;
  margin-bottom: 0;
  padding: 10px;
  font-family: TheWitcher, "Times New Roman", Times, serif;
  color: rgb(230, 173, 100);
  text-align: center;
}

.contMapas {
  padding: 0 10px 10px 10px;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "mapa1 mapa1 mapa2 mapa2 mapa3 mapa3" "..... mapa4 mapa4 mapa5 mapa5 .....";
}

.mapas {
  border-radius: 10px;
  background-color: wheat;
  transition: 0.5s;
  box-shadow: 2px 2px 6px black;
}
.mapas img {
  box-sizing: border-box;
  width: 100%;
}
.mapas a {
  text-decoration: none;
}

.mapas:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.mapa1 {
  grid-area: mapa1;
}

.mapa2 {
  grid-area: mapa2;
}

.mapa3 {
  grid-area: mapa3;
}

.mapa4 {
  grid-area: mapa4;
}

.mapa5 {
  grid-area: mapa5;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  h4 {
    font-size: 22px;
  }
  .contMapas {
    padding: 0 10px 10px 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "mapa1" "mapa2" "mapa3" "mapa4" "mapa5";
  }
}
.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar {
  /* height: 60px !important; */
  background-color: rgb(20, 20, 20);
  border-bottom: 3px outset #2e2e2e;
}

.nav-item {
  font-family: TheWitcher, "Times New Roman", Times, serif;
}

.nav-link {
  background-color: rgb(20, 20, 20);
  border: 3px outset rgb(66, 32, 0);
  padding-left: 10px !important;
  background-color: rgb(66, 32, 0);
  margin: 2px 10px 2px 10px;
  color: rgb(230, 173, 100) !important;
  transition: 0.5s;
}

.nav-link:hover {
  border-color: rgb(83, 41, 1);
  background-color: rgb(83, 41, 1);
  color: rgb(224, 184, 131);
  text-shadow: 0px 0px 5px rgb(219, 219, 219);
  transition: 0.3s;
  transform: scale(0.9);
}

.navbar-toggler {
  border: 3px outset rgb(66, 32, 0);
  padding: 5px;
  background-color: rgb(66, 32, 0);
  margin: 10px;
  transition: 0.2s;
}

.navbar-toggler:hover {
  border-color: rgb(83, 41, 1);
  background-color: rgb(83, 41, 1);
  color: rgb(224, 184, 131);
  text-shadow: 0px 0px 5px rgb(219, 219, 219);
  transition: 0.2s;
  transform: scale(0.9);
}

.fa-bars {
  color: rgb(230, 173, 100);
}

main {
  background-image: url(./Multimedia/zZLPZaO.jpg);
  height: 100%;
  width: auto;
  background-color: #333;
  background-size: cover;
  background-position: center;
}

.trailers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.trailer1 {
  width: auto;
  height: 250px;
  margin-top: 20px;
}
.trailer1 h3 {
  font-size: 20px;
  text-align: center;
  color: rgb(230, 173, 100);
  font-family: TheWitcher, "Times New Roman", Times, serif;
}

.trailer2 {
  width: auto;
  height: 250px;
  margin-top: 20px;
}
.trailer2 h3 {
  font-size: 20px;
  text-align: center;
  color: rgb(230, 173, 100);
  font-family: TheWitcher, "Times New Roman", Times, serif;
}

.imagenes {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

.principal {
  border-radius: 5px;
  display: flex;
  height: 110px;
  width: 200px;
  background-image: url(./Multimedia/The-Witcher-3.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(100%);
}

.principal:hover {
  transform: scale(1.05);
  transition: 0.3s;
  filter: none;
}

.primerdlc {
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  height: 110px;
  width: 200px;
  background-image: url(./Multimedia/Tw3_expansion_pack_hos.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(100%);
}

.primerdlc:hover {
  transform: scale(1.05);
  transition: 0.3s;
  filter: none;
}

.segundodlc {
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  height: 110px;
  width: 200px;
  background-image: url(./Multimedia/the_witcher_3_blood_and_wine_expansion_art_1.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  filter: grayscale(100%);
}

.segundodlc:hover {
  transform: scale(1.05);
  transition: 0.3s;
  filter: none;
}

.nombres {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.nombres a {
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  color: rgb(230, 173, 100);
  font-family: TheWitcher, "Times New Roman", Times, serif;
}
.nombres a:hover {
  text-shadow: 0px 0px 5px darkred;
  color: rgb(224, 184, 131);
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.imgCarousel {
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  color: rgb(230, 173, 100);
  font-family: TheWitcher, "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgb(20, 20, 20);
  border-top: 3px intset #2e2e2e;
  height: auto;
  width: 100%;
}

.redes {
  font-size: 20px;
}

.redes li {
  list-style: none;
  display: inline-block;
}
.redes li a {
  border: 3px outset rgb(66, 32, 0);
  padding: 5px;
  background-color: rgb(66, 32, 0);
  margin: 10px;
  color: rgb(230, 173, 100);
  text-decoration: none;
  transition: 0.3s;
}
.redes li a:hover {
  border-color: rgb(83, 41, 1);
  background-color: rgb(83, 41, 1);
  color: rgb(224, 184, 131);
  text-shadow: 0px 0px 5px rgb(219, 219, 219);
  transition: 0.3s;
}

/* Media Query para Index */
@media only screen and (min-width: 0px) {
  .container {
    width: 75%;
  }
  .imagenes {
    display: none;
  }
  .nombres {
    display: none;
  }
}
@media only screen and (min-width: 468px) {
  .container {
    width: 60%;
  }
  .imagenes {
    display: none;
  }
  .nombres {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    width: 50%;
  }
  .imagenes {
    display: none;
  }
  .nombres {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: none;
  }
  .imagenes {
    display: flex;
  }
  .nombres {
    display: flex;
  }
  .redes {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .principal {
    height: 160px;
    width: 280px;
  }
  .primerdlc {
    height: 160px;
    width: 280px;
  }
  .segundodlc {
    height: 160px;
    width: 280px;
  }
  .nombres a {
    font-size: 14px;
  }
}/*# sourceMappingURL=estilos.css.map */